body {
    background: #fafafa;
}

.confirmDelete {
    float: left;
    position: absolute;
    background: white;
    padding: 4px;
    margin-top: -28px;
    width: 92%;
}

.img_ {
    width: 80px;
    height: 80px;
}