<section id="blog-landing">
    <article *ngFor="let product of products" class="white-panel">
        <img src="http://localhost/restful/uploads/{{product.image}}" *ngIf="product.image && product.image !== 'null'" [routerLink]="['/product', product.id]" style="margin-bottom: 10px;" />
        <div class="center-align">
            <span><a [routerLink]="['/product', product.id]" class="font_candal indigo-text"><strong>{{ product.title | uppercase }}</strong></a></span>
            <!--<p class="font_kanit">{{ product.description }}</p>-->
            <br><br>
            <div class="row without_margin">
                <div class="col m12">
                    <img src="http://lorempixel.com/80/80/people/{{product.id}}" class="responsive-img circle" style="width: 50px; height: 50px;">
                    <p class="without_margin"><a [routerLink]="['/user-profile', product.client_id]" class="font_kanit without_margin">{{ product.nickname }}</a></p>
                </div>
            </div>
            <hr>
            <a [routerLink]="['/product', product.id]">view</a>
            <a *ngIf="auth.authenticated() && product.client_id === getClientID()" [routerLink]="['/product-edit', product.id]">edit</a>
            <a *ngIf="auth.authenticated() && product.client_id === getClientID()" (click)="onDeleteProduct(product.id)" style="cursor: pointer">deletah</a>

            <div class="confirmDelete" *ngIf="confirm === product.id">
                <a (click)="onDeleteProduct(product.id)" style="cursor: pointer">delete</a>
                <a (click)="onCancelConfirm(product.id)" style="cursor: pointer">cancel</a>
            </div>
        </div>
    </article>
</section>