<div class="container marketing">
    <section id="blog-landing">
        <article *ngFor="let product of products" class="white-panel">
            <img src="http://localhost/api-rest/uploads/{{product.image}}" *ngIf="product.image && product.image !== 'null'" [routerLink]="['/product', product.id]" />
            <br><br>
            <span><a [routerLink]="['/product', product.id]">{{ product.title }}</a></span>
            <p>{{ product.description }}</p>
            <p>{{ product.client_id }}</p>
            <hr>
            <a [routerLink]="['/product', product.id]">view</a>
            <a *ngIf="auth.authenticated() && product.client_id === isClientID()" [routerLink]="['/product-edit', product.id]">edit</a>
            <a *ngIf="auth.authenticated() && product.client_id === isClientID()" (click)="onDeleteConfirm(product.id)" style="cursor: pointer">delete</a>

            <div class="confirmDelete" *ngIf="confirm === product.id">
                <a (click)="onDeleteProduct(product.id)" style="cursor: pointer">delete</a>
                <a (click)="onCancelConfirm(product.id)" style="cursor: pointer">cancel</a>
            </div>
        </article>
    </section>
</div>